@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
body {
  /* text-align: center; */
  /* padding: 0px 40px; */
  background-color: #1f1919;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 15px;
}

h1,
h4,
.paraTitulo,
hr,
.btn,
.result {
  color: white;
}

h1 {
  margin: 0.3rem;
}

hr {
  border: 1px solid rgb(107, 106, 106);
  width: 100%;
}

.input {
  height: 30px;
  font-size: 1rem;
  border-radius: 5px;
  flex-grow: 1;
}

.paraTitulo {
  padding-top: 10px;
  font-size: 1rem;
}

select {
  margin-bottom: 15px;
  height: 30px;
  border-radius: 5px;
}

.btn {
  margin-bottom: 15px;
}

.grafica {
  background-color: white;
  margin-bottom: 30px;
  width: 60%;
}

.display-none {
  display: none;
}
